.DS_Store
public/stylesheets/compiled
log/*
.idea
solrdata
*.ipr
*.iml
*.iws
ROOT.war
story_scenario
config/solr.status
config/database.yml
cookies.txt
tmtags
classes
public/project
public/version.txt
public/resource
public/example.xml
test/cache
pkg
*.lic
public/attachments/*
pids/*
tmp/*
junk.txt
junk.sql
.bundle
db/ETL/allocation_extract
db/dumps
*~
vendor/cache/*
tags
.sass-cache/
public/assets
push_*.dat
